//Кнопка
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white;
  background-color: $accent-color;
  align-items: center;

  %hover-button {
    background-color: $white;
    color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $accent-color;
    @extend %animation;
  }
}
