html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
  background-color: $white;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-bottom: 50px;
}

/*Контейнер для секций НЕ ТРОГАТЬ БОЛЬШЕ*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*Список без маркеров*/
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Навигация */
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/*Секция и заголовок секции*/
%section {
  padding-top: 94px;
  padding-bottom: 94px;

  font-weight: bold;
  line-height: 1.167;
}

.section-title {
  margin-bottom: 50px;
  color: $title-color;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

/*Специальный синий выделитель для "студия" и "e-mail"*/
.current {
  color: $accent-color;
  position: relative;
  padding-bottom: 0;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: $accent-color;
    margin-top: 28px;
  }
}

/*Бэкграунд*/
.dark-background {
  background: $dark-background;
  color: $white;
}
