/*Секция Filter*/
.filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 60px;

  & .item:not(:last-child) {
    margin-right: 8px;
  }
  & .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    margin-top: 94px;
  }
}

.filter-box .item {
  display: inline-block;
  align-items: center;
}

.item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button {
  padding: 6px 22px;
  color: $title-color;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  min-width: 73px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  &:hover,
  &:focus {
    background-color: $button;
    color: $title-color;
    border: 1px solid $accent-color;
    @extend %animation;
  }
}
