/*Футер*/
.footer-box {
  background-color: $dark-background;
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  line-height: 1.71;

  .address-map {
    color: $white;
  }

  .address-link {
    display: inline-block;
    color: $footer-contacts;
    margin-top: 9px;

    &:hover,
    &:focus {
      color: $accent-color;
      @extend %animation;
    }
  }
}

.footer-address,
.join-us {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
  }
}
