//Form
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $title-color;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  & label {
    margin-bottom: 4px;
  }
}

.form-field input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 12px 16px;
}

.form-field input::placeholder {
  background: $white;
}

.form-input {
  width: 100%;
  padding-left: 45px;
}

.form-button {
  display: block;
  margin: 0 auto;
  border-color: $accent-color;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .form-input {
  padding-left: 45px;
}

.input-wrapper:focus-within > .form-icon {
  fill: $accent-color;
  @extend %animation;
}

.input-wrapper:focus-within > .form-input {
  outline: none;
  border: 1px solid $accent-color;
  @extend %animation;
}

.form-field:focus-within .form-textarea {
  outline: none;
  border: 1px solid $accent-color;
  @extend %animation;
}

.man-icon {
  position: absolute;
  top: 14px;
  left: 15px;
}

.call-icon {
  position: absolute;
  top: 13px;
  left: 14px;
}

.mail-icon {
  position: absolute;
  top: 14px;
  left: 13px;
}

.policy-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-lable {
  display: inline-flex;
  align-items: center;
  line-height: 1.71;
  margin-bottom: 30px;
}

.policy-link {
  color: $accent-color;
  margin-left: 4px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked + .checkbox-icon {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
    @extend %animation;
  }
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $title-color;
  border-radius: 2px;
  cursor: pointer;
}
