/*Контакты*/
.auth-nav {
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 32px;

  & .link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $main-text-color;
  }
}

.email-icon {
  margin-right: 10px;
  fill: $main-text-color;
}

.auth-nav .contact-link {
  margin-left: 30px;
  font-weight: 500;
}

.contact-link:hover,
.contact-link:focus {
  color: $accent-color;
  @extend %animation;
}

.contact-link:hover .email-icon,
.contact-link:focus {
  fill: $accent-color;
  @extend %animation;
}

.head-line {
  border-bottom: 1px solid $main-text-color;
}
