//Header
.header {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid #ececec;

  & .logo {
    margin-right: 93px;
  }
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 80px;
}
