/*Секция героя*/
$gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);

.hero-section {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: $gradient, url("../images/hero.jpg");

  @media screen and (min-width: $desktop) {
    max-width: 1600px;

    margin-bottom: 94px;
    background-image: $gradient, url("../images/hero.jpg");
  }
}

.hero-container {
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  @media screen and (min-width: $mobile) {
    max-width: 390px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 650px;
  }

  .hero-title {
    //display: inline-block;
    margin-bottom: 30px;
    max-width: 696px;
    color: $white;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
