//Присоединяйтесь

.join-us {
  @media screen and (mах-width: $tablet-1) {
    margin-left: 70px;
    margin-top: 60px;
  }
}

.title-join-us {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
}

.social-box-footer {
  display: flex;

  @media screen and (min-width: $mobile) {
    justify-content: center;
  }
}

.footer {
  background: rgba(255, 255, 255, 0.1);
  fill: $white;
}
