/*Присоединяйтесь*/
.join-us {
  margin-left: 70px;
}

.title-join-us {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
}

.social-box-footer {
  display: flex;
}

.footer {
  background: rgba(255, 255, 255, 0.1);
  fill: $white;
}
