.social-box {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.list.sosial-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.socialmedia {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  fill: $icon-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white;
    @extend %animation;
  }
}

.socialmedia-icon {
  width: 20px;
  height: 20px;
}
